<div class="row">
  <div class="col-md-8">
    <h2>Running</h2>
    <table id="running" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Worker</th>
          <th>Tag</th>
          <th>Attempt</th>
          <th>Strand</th>
          <th>Runtime</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <h2>Tags</h2>
    <table id="tags" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Tag</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Jobs List</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <select id="current_jobs_flavor" class="form-control">
      <option value="current">Current</option>
      <option value="future">Future</option>
      <option value="failed">Failed</option>
    </select>
  </div>
  <div class="col-md-2">
    <a href="" class="btn btn-default" aria-label="Refresh Jobs Table" id="refresh_jobs_link">
      <span class="glyphicon glyphicon-refresh"></span> Refresh
    </a>
  </div>
  <div class="col-md-8">
  </div>
</div>

<div class="row job-list-row">
  <div class="col-md-12">
    <table id="jobs" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tag</th>
          <th>Attempt</th>
          <th>Priority</th>
          <th>Strand</th>
          <th>Run At</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
